@model proiectDAW.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
    @Styles.Render("~/Content/project.css")
}

<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Project Details</h2>
            </div>
            <form method="post" action="/Users/Edit/@Model.Id" id="Login">
                @Html.HttpMethodOverride(HttpVerbs.Put)
                <div class="form-group">
                    <label style="">UserName:</label>
                    <input required type="text" class="form-control" name="UserName" placeholder="UserName" value="@Model.UserName">
                </div>
                <div class="form-group">
                    <label>Telephone:</label>
                    <input type="text" class="form-control" name="Email" placeholder="Email" value="@Model.Email">
                </div>
                <div class="form-group">
                    <label>Telephone:</label>
                    <input type="text" class="form-control" name="PhoneNumber" placeholder="PhoneNumber" value="@Model.PhoneNumber">
                </div>
                <div class="form-group">
                    <label>Role:</label>
                    <select name="selectedRole" class="form-control">
                        @{ if (ViewBag.userRoleName == "Administrator")
                            {
                                <option selected="selected" value="Administrator">Administrator</option>
                                <option value="Organizer">Organizer</option>
                                <option value="Member"> Member </option>
                            }
                            else if (ViewBag.userRoleName == "Organizer")
                            {
                                <option value="Administrator">Administrator</option>
                                <option selected="selected" value="Organizer">Organizer</option>
                                <option value="Member"> Member </option>
                            }
                            else
                            {
                                <option value="Administrator">Administrator</option>
                                <option value="Organizer">Organizer</option>
                                <option selected="selected" value="Member"> Member </option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit user</button>
            </form>
        </div>
    </div>
</div>



